.navbar {
  background: #000; }
  .navbar .nav-item {
    padding-left: 1rem; }

.carousel-item {
  height: 450px; }

.carousel-img-1 {
  background: url("../img/image1.jpeg");
  background-size: cover; }

.carousel-img-2 {
  background: url("../img/image2.jpeg");
  background-size: cover; }

.carousel-img-3 {
  background: url("../img/image3.jpeg");
  background-size: cover; }

#tsm .fa {
  font-size: 40px; }

#start {
  position: relative;
  background: url("../img/bg1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 250px;
  background-attachment: fixed; }
  #start .dark-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#video {
  background: url("../img/people.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px; }

#video {
  position: relative;
  background: url("../img/people.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 250px;
  background-attachment: fixed; }
  #video .dark-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #video .fa {
    font-size: 30px; }

#gallery img {
  min-height: 300px; }

#footer {
  background: #000000; }

#about {
  background: url("../img/image1.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px; }

#boxes .fa {
  font-size: 45px;
  margin-bottom: 10px; }

#testimonial .slick-prev::before {
  color: #000; }

#testimonial .slick-next::before {
  color: #000; }

#service {
  background: url("../img/image1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
  background-attachment: fixed; }

#blog {
  background: url("../img/image2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
  background-attachment: fixed; }

#contact {
  background: url("../img/image3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
  background-attachment: fixed; }

@media (max-width: 480px) {
  .carousel h2 {
    font-size: 2.5rem; }
  #start {
    min-height: 350px; } }
